.speciality{
    background:url('https://mcu.canon/products/video-sensing-devices/assets/images/vsd-banner-overview-live-tissue-imaging.jpg');
    height:250px;
    background-size: cover;
    padding-top:50px;
    font-size: 20px;
    color:darkblue;
    padding-left: 20px;
}
.treat{
    background:url('https://s3-us-west-2.amazonaws.com/kdahweb-static.kokilabenhospital.com/kdah-2019/product/1579522435.jpg');
    height:200px;
    background-size: cover;
    padding-top:50px;
    font-size: 20px;
    color:darkblue;
    text-align: center;
}
.data{
    margin:2% 15%;
    width:70%;
    /* text-align: center; */
}
.data h2{
    color:rgb(0, 111, 125);
}
.accord{
    border:1px solid #000;
    border-radius: 20px;
}
.question{
    font-size: 20px;
}
.solution{
    font-size: 18px;
    color:#fff;
    background-color: rgb(0, 111, 125);
}
.cardtreat{
    background:url('https://static.vecteezy.com/system/resources/previews/006/713/080/non_2x/abstract-health-medical-science-healthcare-icon-digital-technology-science-concept-modern-innovation-treatment-medicine-on-hi-tech-future-blue-background-for-wallpaper-template-web-design-vector.jpg');
    display:flex;
    justify-content:space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.fullview{
    text-align: center;
    border:1px solid #000;
    border-radius: 20px;
    width:300px;
    height:420px;
    margin:15px;
}
.cardcontent{
    height:220px;
    color:rgb(0, 0, 0);
    background-color: #ffffffa2;
}