.cimage{
    height:450px;
    width:100%;
}
.ctext{
    background:url('https://wallpapercave.com/wp/wp2752761.jpg');
    height:200px;
    background-size: cover;
    padding-top:50px;
    font-size: 20px;
    color:rgb(4, 4, 96);
    text-align: center;
}
.contact{
    text-align: center;
    background:url('https://4kwallpapers.com/images/wallpapers/empire-state-building-manhattan-new-york-city-skyscraper-1920x1080-1343.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.maps{
    height:30rem;
    margin:20px;
    width:70%;
    border:1px solid #fff;
}
.footer{
    display:flex;
    justify-content: space-evenly;
    padding:15px;
    margin:10px;
}

.address{
    /* border:1px solid #fff; */
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.623);
    color:rgb(255, 255, 255);
    padding:10px;
    /* margin:10px; */
    width:350px;
    height:350px;
    font-size:18px;
}
.coe{
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.623);
    color:rgb(0, 0, 0);
    padding:10px;
    /* margin:10px; */
    width:350px;
    height:350px;
    font-size:18px;
}
.feedback{
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.623);
    color:rgb(0, 0, 0);
    padding:10px;
    /* margin:10px; */
    width:350px;
    height:350px;
    font-size:18px;
}
.starcard{
    font-size:20px;
}
.cright{
    background-color: #fff;
    color:Red;
    text-align: center;
    padding:10px;
}

.imag{
    position:relative;
}
.image1{
    height:400px;
    width:100%;
    margin:1rem;
    border-radius: 1.5rem;
    position:relative;
    z-index: 1;
}
.image2{
    height:300px;
    width:75%;
    left:25%;
    top: 15%;
    border-radius: 1.5rem;
    position:absolute;
    z-index: 2;
}
.about{
    display: flex;
}
.content{
    font-size: 20px;
    color:rgb(0, 0, 0);
    text-align: center;
    padding:30px;
    width:60%;
}
.content h1{
    color:darkblue
}

@media (max-width:426px) {
    .about{
        display: block;
    }
    .footer{
        display:block;
        /* justify-content: space-evenly; */
        /* padding:15px; */
    }
    .image1{
        height:350px;
        width:90%;
    }
    .image2{
        height:300px;
        width:70%;
    }
}