.appform{
    /* background-color: rgb(255, 255, 255); */
    background: url('https://pub-15052bb03d35463e9d930aeb65e0517d.r2.dev/34243911/files/featured/family_doctor.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    text-align: center;
    /* margin:20px; */
    padding-bottom:30px;
}
.postview{
    display:block
}
label{
    font-size: 22px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.formdata h2{
    color:darkblue
}
.formdata input{
    width:200px;
    font-size: 20px;
    color:rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.864);
    border:1px solid rgb(255, 255, 255);
    border-radius: 10px;
}
.formdata{
    background-color: rgba(0, 0, 0, 0.695);
    width:60%;
    border:1px solid #fff;
    border-radius: 20px;
    margin-left: 30%;
    padding: 10px;
}
.appointment{
    background:url('https://digiqure.com/digiqure/images/herobanner2.jpg');
    height:250px;
    background-size: cover;
    padding-top:50px;
    font-size: 20px;
    color:darkblue;
    text-align: center;
    margin-bottom: 20px;
}
.formbtn{
    font-size: 20px;
    padding:7px;
    margin:5px;
    width:200px;
    background-color: rgb(255, 0, 21);
    color:#fff;
    border:1px solid Red;
    border-radius: 10px;
}
.list-view{
    display: inline-block;   
}
.listdisplay{
    margin:10px;
    color:#fff;
    border:1px solid #000;
    border-radius: 20px;
    background-color: #000000ae;
    list-style: none;
    padding: 10px;
}