.appform{
    /* background-color: rgb(255, 255, 255); */
    background: url('https://pub-15052bb03d35463e9d930aeb65e0517d.r2.dev/34243911/files/featured/family_doctor.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    text-align: center;
    /* margin:20px; */
    padding-bottom:30px;
}
.formdata label{
    font-size: 20px;
}
.formdata input{
    font-size: 20px;
    color:rgb(255, 255, 255);
    background-color: darkcyan;
    border:1px solid rgb(255, 255, 255);
    border-radius: 10px;
}
.formdata{
    background-color: rgba(0, 0, 0, 0.695);
    width:600px;
    border:1px solid #fff;
    border-radius: 20px;
    margin-left: 430px;
    padding: 10px;
}
.appointment{
    background:url('https://digiqure.com/digiqure/images/herobanner2.jpg');
    height:250px;
    background-size: cover;
    padding-top:50px;
    font-size: 20px;
    color:rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 20px;
}
.formbtn{
    font-size: 20px;
    padding:7px;
    margin:5px;
    width:100px;
    background-color: rgb(255, 0, 21);
    color:#fff;
    border:1px solid Red;
    border-radius: 10px;
}